.button {
  border-radius: var( --radius-small);
  border: none;
  padding: 12px;
}

.button-primary {
  background-color: var(--button-color-primary);
  color: var(--text-color-dark-bg);

}

.button-primary:hover {
  background-color: var(--button-color-primary-hover);
}

.button-language {
  border: none;
  padding: 8px;
  background-color: transparent;
}

.button-language_is-active {
  background-color: var(--background-color-light);
}