.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-inside-section);
  margin-inline: var(--page-side-margin);
}

.section_first {
  margin-block-start: var(--margin-first-section);
}