.profile__image-overlay {
  display: flex;
  place-content: center;
  background-color: transparent;
  position: absolute;
  z-index: 10;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}

.profile__image-overlay:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.profile__image-overlay:hover .profile__avatar-icon {
  display: block;
}