html {
  --text-color-main: #1E1E1E;
  --text-color-accent: #FF5151;
  --text-color-dark-bg: #F3F3F3;
  --button-color-primary: #333A5F;
  --button-color-primary-hover: #0D1127;
  --background-color-light: #F7F9FB;
  --background-color-page: white;


  --text-size-regular: 16px;
  --text-size-small: 13px;

  
  --radius-small: 8px;
  --radius-medium: 16px;

  --page-side-margin: 0px;
  --gap-between-sections: 100px;
  --margin-first-section: -40px;
  --gap-inside-section: 32px;
}