@import url(./__navigation/header__navigation.css);
@import url(./__heading/header__heading.css);
@import url(./__link/header__link.css);
@import url(./__contacts/header__contacts.css);
@import url(./__submenu/header__submenu.css);
@import url(./__phone/header__phone.css);
@import url(./__time/header__time.css);

.header {
  position: sticky;
  top: 0;
  background-color: var(--background-color-page);
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin-inline: var(--page-side-margin)
}